#myCarousel{
    margin-top: 35px;
    .carousel-inner{
        .carousel-item{
            .carousel-cation{
                .btn-play:hover{
                    opacity: .7;
                }
            }
            .carousel-img:hover{
                opacity: 1;
            }
        }
    }
    .carousel-indicators{
        top:80%;
        li{
            width: 12px;
            height: 12px;
            border-radius: 50%; 
        }
        li.active{
            background-color: $color-red-0;
        }
    }
}